:root {
    --primary-color: #000000;
    --light-color: #ffffff;
    --warning-color: #03951d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
}

header {
    color: var(--warning-color);
    padding-top: 10px;
    padding-left: 40px;
}

header h1 {
    font-size: 16px;
    color: #03951d;
}

main {
    text-align: center;
    border: 3px solid rgb(249, 246, 246);
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 28px;
}

main form {
    padding-top: 10px;
    text-align: left;
}

main form input {
    padding: 5px;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid var(--warning-color);
}

input::placeholder {
    text-align: center;
}

main .btn.btn-success {
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
}

.hr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.hr-container hr {
    border-top: 2px solid var(--primary-color);
    flex-grow: 1;
}

.hr-container .left-hr {
    margin-right: 10px;
}

.hr-container .right-hr {
    margin-left: 10px;
}

.hr-container .hr-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 10px;
}

.gbox {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.gbox .btn.btn-outline-success {
    border-radius: 50px;
    width: 100%;
    margin: 10px;
}

.abox {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.abox .btn.btn-outline-success {
    border-radius: 50px;
    width: 100%;
    margin: 10px;
}

img {
    position: absolute;
    margin-left: 10rem;
}

.btn.btn-outline-success {
    width: 100%;
    border-radius: 50px;
}
