:root {
    --primary-color:#000000;
    --light-color:#ffffff;
    --warning-color: #03951d;
}


* {
    margin: 0;
    padding: 0;
}

.body{
    font-family: Poppins;
}

header{
    color: var(--warning-color);
    margin-top: 20px;
    margin-left: 30px;
}

header h1{
    color: var(--warning-color);
    font-size: 17px;
}

main{
    border: 3px solid  rgb(249, 246, 246);
    padding: 20px; 
    margin: 50px auto; 
    max-width: 600px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 28px;
    text-align: center;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.box {
    width: 250px;
    height: 100px;
    margin: 0 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.box:hover {
    cursor: pointer;
    background-color: rgb(244, 244, 244);
}

.container-text a {
    text-decoration: none;
    color: var(--primary-color);
    padding-right: 20px;
    margin-top: 40px;
    font-size: 16px;
    /* font-weight: 500; */
}
.container-text a:hover{
    color: var(--warning-color);
}


/* 
.box p{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
} */

main .btn.btn-outline-success{
    border-radius: 50px;
    margin-top: 1.5rem;
    width: 80%;
    margin-left: 3.5rem;
}

p{
    text-align: center;
    padding-top: 10px;
}